@font-face {
    font-family: 'Source Code Pro';
    src: local("Source Code Pro Regular"), url('../font/SourceCodePro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local("Source Code Pro Italic"), url('../font/SourceCodePro-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local("Source Code Pro Bold"), url('../font/SourceCodePro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: local("Source Code Pro Bold Italic"), url('../font/SourceCodePro-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

.post-content li p {
    margin: var(--global-line-height) 0 0;
}

img {
    width: auto;
}

.terminal-card > header {
    background-color: #2c2e31;
}

.terminal-card {
    border: revert;
}

pre {
    border:0;
    padding-bottom: 0;
    background-color: var(--code-bg-color);
}

pre code {
    overflow: auto;
    font-size: 14px;
    margin: 0 0 2px 0;
    background-color: var(--code-bg-color);
}

.post code {
    padding: 4px 6px;
}

code {
    background-color: var(--code-bg-color);
}

pre code::after code::before {
    content: unset;
}

code::after code::before {
    content: unset;
}

:root {
    --global-font-size: 18px;
    --global-font-color: #dadadb;
    --background-color: #2f3031;
    --mono-font-stack: Source Code Pro, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --font-stack: Source Code Pro, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --global-line-height: 1.4em;
    --page-width: 64em;
    --display-h1-decoration: 1;
    --code-bg-color: #2C2E31;
    --font-color: #dadadb;
    --primary-color: #1d9912;
    --invert-font-color: var(--background-color);
    /* --secondary-color: #5bcefb; */
}

@media only screen and (max-width: 850px) {
    :root {
        --global-font-size: 14px;
        --global-font-color: #dadadb;
        --global-line-height: 1.3em;
        --page-width: 70em;
    }
}


.sidebar-heading {
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
}

.box-masonry .box-masonry-image {
    background: #fff;
}

.box-masonry,
.box-masonry:hover {
    box-shadow: none;
}

.label {
    font-family: var(--font-stack);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    font-size: var(--global-font-size);
    background-color: var(--background-color);
    margin-bottom: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #dadadb;
    font-family: var(--font-stack);
    clear: both;
}

h1 {
    padding: calc(var(--global-space)) 0 calc(var(--global-space));
    margin-bottom: 120px;
    text-decoration: underline var(--primary-color);
}

.terminal code {
    font-size: 14px;
    padding: 4px 6px;
}

.terminal-logo {
    flex-basis: 60em;
}

.main-content figure img {
    max-width: 40%;
    float: right;
    margin: 10px 10px 0 10px;
}

.post-title h1 {
    font-size: 36px;
}

.details {
    display: inline-block;
    color: var(--secondary-color);
    margin-top: 10px;
}

::marker {
    color: var(--primary-color)
}

.post-content {
    margin-top: 12px;
}

.post-content h1 {
    font-size: 28px;
    text-decoration: none;
}

.post-content h1 a,
.post-content h2 a,
.post-content h3 a,
.post-content h4 a {
    text-decoration: none;
    position: relative;
    left: -1px;
    color: var(--secondary-color);
}

.post-meta {
     color: var(--secondary-color);
}

.index-about h1,
.index-photos h1,
.index-posts h1 {
    font-size: 36px;
}

h1::after {
    pointer-events: none;
    content: "";
}

.content-column-content p,
.content-column-content li {
    color: #666;
}

.btn-ghost {
    color: #666;
    background-color: transparent;
    border-color: #333;
    font-weight: 400;
    font-family: var(--font-stack);
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.55;
    border-radius: 0;
    margin-left: 0;
    margin-top: 5px;
}

.content-column-content .command {
    color: #aaa;
}

.active a {
    text-decoration: underline;
}

ul ul {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

.logo {
    font-weight: bold;
}

.terminal-menu li {
    margin-right: 30px;
}

figure {
    margin: 15px 60px;
}

.footer {
    font-size: 14px;
    clear: both;
    margin-top: 100px;
    padding-top: 10px;;
    border-top: 1px solid var(--secondary-color);
    color: var(--global-font-color);
}

.terminal-prompt::before {
    content: none;
}

.posts-list {
    position: relative;
    padding-left: 150px;
    top: 0;
    margin-top: 21px;
}

.post h1 {
    padding-top: 0;
    font-size: 18px;
    text-decoration: none;
}

.posts-list .date {
    display: inline-block;
    position: absolute;
    left: 0;
    width: auto;
    z-index: 400;
    font-weight: bold;
    padding-top: 3px;
}

@media only screen and (max-width: 850px) {
    .site-name {
        display: inline-block;
    }

    .terminal-nav {
        align-items: flex-start;
        flex-direction: column;
        display: flex;
    }

    .terminal-menu ul {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-top: 0;
    }

    .terminal-menu li {
        margin-right: 20px;
    }

    .terminal-logo {
        flex-basis: unset;
    }

    .terminal code {
        padding: 2px 4px;
    }

    .title-sep,
    .title-loc {
        text-overflow: clip;
    }

    .logo {
        padding: calc(var(--global-space) * 1) 0 calc(var(--global-space) * 1);
    }

    figure {
        margin: 5px 30px;
    }

    .posts-list {
        position: relative;
        padding-left: 0;
        top: 0;
        margin-top: 21px;
    }

    .post h1 {
        padding-top: 0;
    }

    .posts-list .date {
        display: inline-block;
        position: relative;
        left: 0;
        width: 120px;
        z-index: 400;
        font-weight: bold;
        padding-top: 3px;
    }

    .post-title {
        margin-top: -18px;
    }

    .footer {
        margin-top: 50px;
        padding-top: 5px;;
    }
}
