<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" style="margin:10px !important">
    <h3>Mario Airlines Razor1911 - Crysis keygen Edit</h3>
    <br>
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2084875819/size=large/bgcol=333333/linkcol=2ebd35/tracklist=false/artwork=small/track=1526859463/transparent=true/" seamless><a href="http://dubmood.bandcamp.com/album/crackscene-music-best-of-2004-2007-data002">Crackscene music best of 2004-2007 (DATA002) by Dubmood</a></iframe>
    <p>A chiptune track to enjoy along with the post, make sure to visit the link for the full version!</p>
</div>